@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --SoftBlue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    --mainBG: hsl(217, 54%, 11%);
    --cardBG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    background-color: var(--mainBG);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    width: 100vh;
    height: 100vh;
}

p {
    color: var(--SoftBlue);
}

.card {
    background-color: var(--cardBG);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px;
    height: 550px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 10px;
    font-size: 15px;
    border-radius: 20px;
}

.card .img {
    width: 19rem;
    height: 17rem;
    border-radius: 20px;
    margin: 10px auto 10px;
}

.card .img:hover {
    cursor: pointer;
    background-image: url("./images/icon-view.svg");
}

.card h1 {
    margin-top: 5px;
    margin-left: 10px;
    font-weight: 400;
    transition: 0.3s ease;
}

.card h1:hover {
    cursor: pointer;
    color: var(--Cyan);
}

.card .description {
    margin-top: 15px;
    margin-left: 10px;
    font-weight: 300;
}

.card div {
    display: flex;
}

.card .price-time {
    justify-content: space-between;
    margin: 20px 0;
}

.card .price-time .price {
    margin-left: 10px;
}

.card .price-time .price p {
    color: var(--Cyan);
    margin-left: 10px;
}

.card .price-time .time {
    margin-right: 10px;
}

.card .price-time .time p {
    margin-left: 10px;
}

.line {
    margin: 0 10px;
    border: 1px solid var(--line);
}

.profile {
    align-items: center;
    width: 19rem;
    height: 4rem;
    margin-top: 15px;
}

.profile img {
    margin-left: 10px;
    width: 3.5rem;
    border-radius: 50%;
    border: 1px solid white;
}

.profile p {
    margin-left: 18px;
}

.profile p span {
    color: white;
    transition: 0.3s ease;
}

.profile p span:hover {
    cursor: pointer;
    color: var(--Cyan);
}

































/* footer */
.attribution {
    width: 100%;
    position: relative;
    text-align: center;
    font-size: 15px;
    color: #fff;
    bottom: 10px;
}

.attribution a {
    color: var(--Cyan);
}